<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
PRIVATE_ACCESS_BOOTSTRAP(com.apple.vpn.managed)
MAC_ONE_TOUCH(com.apple.ManagedClient.preferences)
NATIVE_DOH(com.apple.dnsSettings.managed)
DNS_BROWSER_SETTINGS(com.apple.ManagedClient.preferences)
HTTPS_BLOCK_PAGE(com.apple.security.root)
NOTIFICATION_SETTINGS(com.apple.notificationsettings)
MAC_APP_AUTO_LAUCH(com.apple.loginitems.managed)
attachment; filename="Jamf_Trust_9608556b-0c3a-4a9c-9b4a-d714d8a028a1_1e1pz1pc_JAMF_SUPERVISED_MAC_.mobileconfig"
-->
<plist version="1.0">
    <dict>
        <key>PayloadType</key>
        <string>Configuration</string>
        <key>PayloadUUID</key>
        <string>1a8de4e1-2437-4eff-b573-f170a7be0698</string>
        <key>PayloadIdentifier</key>
        <string>com.jamf.trust</string>
        <key>PayloadOrganization</key>
        <string>Jamf</string>
        <key>PayloadDisplayName</key>
        <string>Jamf Trust</string>
        <key>PayloadDescription</key>
        <string>Keeping you safe and productive on your mobile device.</string>
        <key>PayloadVersion</key>
        <integer>1</integer>
        <key>PayloadRemovalDisallowed</key>
        <true/>
        <key>PayloadScope</key>
        <string>System</string>
        <key>PayloadContent</key>
        <array>
            <dict>
                <key>PayloadType</key>
                <string>com.apple.vpn.managed</string>
                <key>PayloadUUID</key>
                <string>F2E7CC72-E2B1-5131-C028-B000E</string>
                <key>PayloadIdentifier</key>
                <string>com.jamf.trust.pa.bootstrap</string>
                <key>PayloadOrganization</key>
                <string>Jamf</string>
                <key>PayloadDisplayName</key>
                <string>Jamf Trust Networking PA Bootstrap</string>
                <key>PayloadDescription</key>
                <string>Authorizes Jamf Trust Networking as a permitted VPN provider on this device.</string>
                <key>VPNType</key>
                <string>VPN</string>
                <key>VPNSubType</key>
                <string>com.jamf.trust</string>
                <key>VPNUUID</key>
                <string>99902e76-ff2c-43e3-0000-4158675309</string>
                <key>VendorConfig</key>
                <dict>
                    <key>ProfileId</key>
                    <string>com.jamf.trust.bootstrap</string>
                </dict>
                <key>OverridePrimary</key>
                <false/>
                <key>PayloadVersion</key>
                <integer>1</integer>
                <key>VPN</key>
                <dict>
                    <key>AuthPassword</key>
                    <string>nopassplease</string>
                    <key>AuthenticationMethod</key>
                    <string>Password</string>
                    <key>RemoteAddress</key>
                    <string>use.jamf.trust.app</string>
                    <key>ProviderBundleIdentifier</key>
                    <string>nonexistingidentifier</string>
                </dict>
            </dict>
            <dict>
              <key>PayloadContent</key>
              <dict>
                <key>com.jamf.trust</key>
                <dict>
                  <key>Forced</key>
                  <array>
                    <dict>
                      <key>mcx_preference_settings</key>
                      <dict>
                        <key>activationProfileUrl</key>
                        <string>https://e.wandera.com/1e1pz1pc-ms-jpr</string>
                        <key>activationType</key>
                        <string>AP</string>
                        <key>apiKey</key>
                        <string>e3a5e0c6-6316-4cda-b9dd-7c4717593656</string>
                        <key>secretKey</key>
                        <string>YX9m7hbZGmTFUmmiRz2fAW2lQxo6sd7JqTROorC31ie7biJ5tGAya5X7Ycci2fI22q/8dLGTBR7K/bdnYs8ZqA==</string>
                        <key>externalId</key>
                        <string>$UDID</string>
                        <key>email</key>
                        <string>$EMAIL</string>
                        <key>firstName</key>
                        <string>$FULLNAME</string>
                        <key>lastName</key>
                        <string></string>
                      </dict>
                    </dict>
                  </array>
                </dict>
              </dict>
              <key>PayloadType</key>
              <string>com.apple.ManagedClient.preferences</string>
              <key>PayloadUUID</key>
              <string>937F39A4-6DD2-4E17-89D3-9A5FB1C083C4</string>
              <key>PayloadIdentifier</key>
              <string>com.jamf.trust.one.touch</string>
              <key>PayloadDisplayName</key>
              <string>Jamf Trust Networking Auto Deploy</string>
              <key>PayloadDescription</key>
              <string>Automatically configures Jamf Trust Networking to activate with your organization's Jamf Security account.</string>
              <key>PayloadVersion</key>
              <integer>1</integer>
            </dict>
            <dict>
                <key>PayloadType</key>
                <string>com.apple.dnsSettings.managed</string>
                <key>PayloadUUID</key>
                <string>7B43FD0C-B549-4F44-8E83-43E30CEDC472</string>
                <key>PayloadIdentifier</key>
                <string>com.jamf.trust.native.doh</string>
                <key>PayloadOrganization</key>
                <string>Jamf</string>
                <key>PayloadDisplayName</key>
                <string>Jamf Protect NTP</string>
                <key>PayloadVersion</key>
                <integer>1</integer>
                <key>DNSSettings</key>
                <dict>
                    <key>DNSProtocol</key>
                    <string>HTTPS</string>
                    <key>ServerURL</key>
                    <string>https://edns.wandera.com/v1/profile/1e1pz1pc-ms-jpr/device/$UDID/dns-query</string>
                    <key>ServerAddresses</key>
                    <array/>
                    <key>SupplementalMatchDomains</key>
                    <array/>
                </dict>
                <key>ProhibitDisablement</key>
                <true/>
                <key>OnDemandRules</key>
                <array>
					<dict>
						<key>Action</key>
						<string>Disconnect</string>
						<key>SSIDMatch</key>
						<array>
							<string>aainflight.com</string>
							<string>Aeromobile</string>
							<string>AirFranceCONNECT</string>
							<string>Airport Free Wifi Aena</string>
							<string>Alaskawifi.com</string>
							<string>AlaskaWiFi.com</string>
							<string>Air Canada</string>
							<string>AirFalcon</string>
							<string>airflight</string>
							<string>BA Wi-Fi</string>
							<string>BAWi-Fi</string>
							<string>CDWiFi</string>
							<string>deltawifi.com</string>
							<string>DeltaWiFi.com</string>
							<string>easyJet onboard</string>
							<string>EurostarTrainsWiFi</string>
							<string>FlyFi</string>
							<string>FlyFi.com</string>
							<string>flyfi.com</string>
							<string>FlyNet</string>
							<string>FreeWifi-NmbsSncb</string>
							<string>greateranglia-wifi</string>
							<string>Nordic Sky</string>
							<string>NORDIC SKY</string>
							<string>Iberia Wi-Fi</string>
							<string>Iberia-WiFi</string>
							<string>London Southend Free Wifi</string>
							<string>MarriottBonvoy</string>
							<string>MarriottBonvoy_Guest</string>
							<string>MarriottBonvoy_Public</string>
							<string>Panera</string>
							<string>PANERA</string>
							<string>Telekom_FlyNet</string>
							<string>KrisWorld</string>
							<string>OnAir</string>
							<string>gogoinflight</string>
							<string>Qantas Free Wi-Fi</string>
							<string>NYCEA_Airline</string>
							<string>SouthwestWiFi</string>
							<string>Unitedwifi.com</string>
							<string>United_Wi-Fi</string>
							<string>Virgin Atlantic</string>
							<string>VirginAustralia</string>
							<string>WiFi in de trein</string>
							<string>WirelessViennaAirport</string>
							<string>_Heathrow Wi-Fi</string>
							<string>_stanstedairport WiFi</string>
						</array>
					</dict>
                    <dict>
                        <key>Action</key>
                        <string>EvaluateConnection</string>
                        <key>ActionParameters</key>
                        <array>
                            <dict>
                                <key>DomainAction</key>
                                <string>NeverConnect</string>
                                <key>Domains</key>
                                <array>
                                    <string>*.jamf.com</string>
                                    <string>*.jamfcloud.com</string>
                                    <string>*.jamfnebula.com</string>
                                    <string>*.push.apple.com</string>
                                    <string>identity.apple.com</string>
                                    <string>iprofiles.apple.com</string>
                                    <string>setup.icloud.com</string>
                                    <string>vpp.itunes.apple.com</string>
                                    <string>deviceservices-external.apple.com</string>
                                    <string>wifi.delta.com</string>
                                    <string>*.southwestwifi.com</string>
                                    <string>*.gogoinflight.com</string>
                                    <string>*.united.com</string>
                                    <string>*.unitedwifi.com</string>
                                    <string>*.inflightpanasonic.aero</string>
                                    <string>*.united.com.edgekey.net</string>
                                    <string>*.aainflight.com</string>
                                    <string>aainflight.com</string>
                                    <string>*.viasat.com</string>
                                    <string>register.onboard.eurostar.com</string>
                                </array>
                            </dict>
                        </array>
                    </dict>
                    <dict>
                        <key>Action</key>
                        <string>Connect</string>
                    </dict>
                </array>
            </dict>
            <dict>
                <key>PayloadType</key>
                <string>com.apple.ManagedClient.preferences</string>
                <key>PayloadUUID</key>
                <string>042EDF06-7BB3-42BD-A6BF-3865CFAA4C0A</string>
                <key>PayloadIdentifier</key>
                <string>com.jamf.trust.org.mozilla.firefox</string>
                <key>PayloadOrganization</key>
                <string>Jamf</string>
                <key>PayloadDisplayName</key>
                <string>Firefox DoH Settings</string>
                <key>PayloadVersion</key>
                <integer>1</integer>
                <key>PayloadContent</key>
                <dict>
                    <key>org.mozilla.firefox</key>
                    <dict>
                        <key>Forced</key>
                        <array>
                            <dict>
                                <key>mcx_preference_settings</key>
                                <dict>
                                    <key>EnterprisePoliciesEnabled</key>
                                    <true/>
                                    <key>Certificates</key>
                                    <dict>
                                        <key>ImportEnterpriseRoots</key>
                                        <true/>
                                    </dict>
                                    <key>DNSOverHTTPS</key>
                                    <dict>
                                        <key>Enabled</key>
                                        <false/>
                                        <key>Locked</key>
                                        <true/>
                                    </dict>
                                </dict>
                            </dict>
                        </array>
                    </dict>
                </dict>
            </dict>
            <dict>
                <key>PayloadType</key>
                <string>com.apple.ManagedClient.preferences</string>
                <key>PayloadUUID</key>
                <string>4A6D6C1A-7C68-4BC2-933C-44550644164</string>
                <key>PayloadIdentifier</key>
                <string>com.jamf.trust.com.vivaldi.Vivaldi</string>
                <key>PayloadOrganization</key>
                <string>Jamf</string>
                <key>PayloadDisplayName</key>
                <string>Vivaldi DoH Settings</string>
                <key>PayloadVersion</key>
                <integer>1</integer>
                <key>PayloadContent</key>
                <dict>
                    <key>com.vivaldi.Vivaldi</key>
                    <dict>
                        <key>Forced</key>
                        <array>
                            <dict>
                                <key>mcx_preference_settings</key>
                                <dict>
                                    <key>BuiltInDnsClientEnabled</key>
                                    <false/>
                                </dict>
                            </dict>
                        </array>
                    </dict>
                </dict>
            </dict>
            <dict>
                <key>PayloadType</key>
                <string>com.apple.ManagedClient.preferences</string>
                <key>PayloadUUID</key>
                <string>591B969D-4D02-4A80-ACD8-19E66EEB52DE</string>
                <key>PayloadIdentifier</key>
                <string>com.jamf.trust.com.microsoft.Edge</string>
                <key>PayloadOrganization</key>
                <string>Jamf</string>
                <key>PayloadDisplayName</key>
                <string>Edge DoH Settings</string>
                <key>PayloadVersion</key>
                <integer>1</integer>
                <key>PayloadContent</key>
                <dict>
                    <key>com.microsoft.Edge</key>
                    <dict>
                        <key>Forced</key>
                        <array>
                            <dict>
                                <key>mcx_preference_settings</key>
                                <dict>
                                    <key>BuiltInDnsClientEnabled</key>
                                    <false/>
                                </dict>
                            </dict>
                        </array>
                    </dict>
                </dict>
            </dict>
            <dict>
                <key>PayloadType</key>
                <string>com.apple.ManagedClient.preferences</string>
                <key>PayloadUUID</key>
                <string>60FA3322-F0E6-48A5-B22E-858B2AD51204</string>
                <key>PayloadIdentifier</key>
                <string>com.jamf.trust.com.google.Chrome</string>
                <key>PayloadOrganization</key>
                <string>Jamf</string>
                <key>PayloadDisplayName</key>
                <string>Chrome DoH Settings</string>
                <key>PayloadVersion</key>
                <integer>1</integer>
                <key>PayloadContent</key>
                <dict>
                    <key>com.google.Chrome</key>
                    <dict>
                        <key>Forced</key>
                        <array>
                            <dict>
                                <key>mcx_preference_settings</key>
                                <dict>
                                    <key>BuiltInDnsClientEnabled</key>
                                    <false/>
                                </dict>
                            </dict>
                        </array>
                    </dict>
                </dict>
            </dict>
            <dict>
                <key>PayloadType</key>
                <string>com.apple.ManagedClient.preferences</string>
                <key>PayloadUUID</key>
                <string>76975DA1-EDC2-49AB-A477-04BE8AB86B5B</string>
                <key>PayloadIdentifier</key>
                <string>com.jamf.trust.com.brave.Browser</string>
                <key>PayloadOrganization</key>
                <string>Jamf</string>
                <key>PayloadDisplayName</key>
                <string>Brave DoH Settings</string>
                <key>PayloadVersion</key>
                <integer>1</integer>
                <key>PayloadContent</key>
                <dict>
                    <key>com.brave.Browser</key>
                    <dict>
                        <key>Forced</key>
                        <array>
                            <dict>
                                <key>mcx_preference_settings</key>
                                <dict>
                                    <key>BuiltInDnsClientEnabled</key>
                                    <false/>
                                </dict>
                            </dict>
                        </array>
                    </dict>
                </dict>
            </dict>
            <dict>
                <key>PayloadType</key>
                <string>com.apple.ManagedClient.preferences</string>
                <key>PayloadUUID</key>
                <string>60FA3322-F0E6-48A5-B22E-858B2AD51206</string>
                <key>PayloadIdentifier</key>
                <string>com.jamf.trust.company.thebrowser.Browser</string>
                <key>PayloadOrganization</key>
                <string>Jamf</string>
                <key>PayloadDisplayName</key>
                <string>Arc DoH Settings</string>
                <key>PayloadVersion</key>
                <integer>1</integer>
                <key>PayloadContent</key>
                <dict>
                    <key>company.thebrowser.Browser</key>
                    <dict>
                        <key>Forced</key>
                        <array>
                            <dict>
                                <key>mcx_preference_settings</key>
                                <dict>
                                    <key>BuiltInDnsClientEnabled</key>
                                    <false/>
                                </dict>
                            </dict>
                        </array>
                    </dict>
                </dict>
            </dict>
            <dict>
                <key>PayloadType</key>
                <string>com.apple.security.root</string>
                <key>PayloadUUID</key>
                <string>70B0779E-E5CD-40E6-973D-A99151A5FFCC</string>
                <key>PayloadIdentifier</key>
                <string>com.jamf.trust.certificate.7bd6af2a-f2b7-2d9a-c9ab-073c18255e34</string>
                <key>PayloadOrganization</key>
                <string>Jamf</string>
                <key>PayloadDisplayName</key>
                <string>Jamf Security Root CA</string>
                <key>PayloadDescription</key>
                <string>Adds a CA root certificate</string>
                <key>PayloadCertificateFileName</key>
                <string>JamfSecurityCA.crt</string>
                <key>PayloadVersion</key>
                <integer>1</integer>
                <key>PayloadContent</key>
                <data>MIIF1DCCA7ygAwIBAgIJAIG2HJBUvyfVMA0GCSqGSIb3DQEBDQUAMHcxCzAJBgNV
BAYTAlVTMQswCQYDVQQIDAJNTjEUMBIGA1UEBwwLTWlubmVhcG9saXMxDTALBgNV
BAoMBEphbWYxFjAUBgNVBAsMDUphbWYgU2VjdXJpdHkxHjAcBgNVBAMMFUphbWYg
U2VjdXJpdHkgUm9vdCBDQTAeFw0yMjAzMjQwOTU4MDlaFw00MjAzMTkwOTU4MDla
MHcxCzAJBgNVBAYTAlVTMQswCQYDVQQIDAJNTjEUMBIGA1UEBwwLTWlubmVhcG9s
aXMxDTALBgNVBAoMBEphbWYxFjAUBgNVBAsMDUphbWYgU2VjdXJpdHkxHjAcBgNV
BAMMFUphbWYgU2VjdXJpdHkgUm9vdCBDQTCCAiIwDQYJKoZIhvcNAQEBBQADggIP
ADCCAgoCggIBAMPSk0ilazD2WqeM10iZtZ0xRb+BQu5tAZDj9vGB/elVx54S9Lc9
K7KKlk4BEXMXECTHOcwVcbpdC2iNLY3vxiDP5xvduYvIQ63cOkuxM3vev1Ll0/EZ
Teo5JXcltIa78oNlXnBR+vZj8iPyzS9yE1EMnea2jcjaC14Mulu073Q01U7ye9li
4gAilirQu7vR3P1bhHJLFv4OwBTeA65vkgEkS3vtkuXxpCcMpzAOj23xBa9TEvI+
O40SB44J0OJy2w4Yv1Mijmb5I0w3XBVmZqciz8fEenhTxx1igHWWAtcTC1xEONdg
i9DewTtyGSVegpEBhQbafvosCQYpdue/8D44QNjdb+ut0/UgPGNjWraPvLSKnr7i
EqwE6LFBmRg0YC1zIVMfzxfrW6ZNvbdvlWw9TaadHeg+qvvq+5Xk3bA4/rOitSLy
g03XB/2YX6UmynLH3vHYlxDCwvIYqZFF8MwPsgDtHXAzL7/nA+EjGgP7ONTN87z8
B7Bs9ajmDqOv2D9cVoQfpZTYveuwWbPfzP21W5YzoGqVLLX/KzcC2DW7QymEm6yZ
Z+C1k5pSXMXY2zp3N74UarfGJWEHjGKddSNrBhLxs592QkH6okt1HvNNiAtZY/F9
q58P4+xumnGcKXHg98up0Sfuco/H8ZZmgGmzH13mN9ApYfc74dRN/zrPAgMBAAGj
YzBhMB0GA1UdDgQWBBSj/aBMhYZJq4ss4Mq63NX9tZ7mtjAfBgNVHSMEGDAWgBSj
/aBMhYZJq4ss4Mq63NX9tZ7mtjAPBgNVHRMBAf8EBTADAQH/MA4GA1UdDwEB/wQE
AwIBhjANBgkqhkiG9w0BAQ0FAAOCAgEAH3nz/rcDuXT2z6gGrHNKDhqYd31uEU+h
C6bgH3FhEgb3pk89RrAwmtdXaD4wZtC+z9zISv5JpYWoEu348+ptjffjil1V3tKA
3R+qU1YeNnC1yQFnaXBpQsytqXBtwOTBTXcSacGJfwgG3o24Q1l8eeBgkf066Y2v
NZ0q/2AOqegUfYOKDyfBkxK+Kev3XAffiK++FsuwpvUD2fowsjn9wu8/xIfUdfW6
VQl6p2clpg1hGfUP5OlUsl2EkI6DXkz4JQCCILffeEYrDW4j64rwEDK3Ic5Om2Yc
WpuxAzumpilXbVcBdAIdBCQlvh1LviKSIaYMNQ6qPYqqOLpN5LAMo3HdMmlqSFUU
NFt7PT1UoumXQ4NiTzpQxdNbVnSBGwDY2/c0IBmYuDT3hgMr+VSJ8w064AMLwXRU
99QeawwLQnJCIeex/aCocbYukCMyYm7VtfSTb811A4u0qC9HDs4zohLHtGW1IbrQ
t52LkAGESK7+EG/VZEI9Hno0HcPfdCICa4M6ZMolYJ2TLrdIgG2TmcHTC9S4ZtY0
x/VbA8uQddJ9DJ/7Zo1P4uC6dPP6lRY18bPhVrGw0PlSKaHv9FtoMQThjngXcoRB
mT3/ZbTNExuKMqmpLOQj2e7gBhFRAwJwDQMRubDUo3n62GfONOPQmedP7WORpgcd
S1/7ypaMafA=</data>
            </dict>
            <dict>
                <key>NotificationSettings</key>
                <array>
                    <dict>
                        <key>BundleIdentifier</key>
                        <string>com.jamf.trust</string>
                        <key>NotificationsEnabled</key>
                        <true/>
                        <key>ShowInLockScreen</key>
                        <true/>
                        <key>BadgesEnabled</key>
                        <false/>
                        <key>ShowInNotificationCenter</key>
                        <true/>
                        <key>SoundsEnabled</key>
                        <true/>
                        <key>CriticalAlertEnabled</key>
                        <false/>
                    </dict>
                </array>
                <key>PayloadDescription</key>
                <string>Configures notification settings for apps</string>
                <key>PayloadDisplayName</key>
                <string>Notifications</string>
                <key>PayloadIdentifier</key>
                <string>com.apple.notificationsettings.1B782BE8-E83E-403A-91F8-CB531C88D33A</string>
                <key>PayloadType</key>
                <string>com.apple.notificationsettings</string>
                <key>PayloadUUID</key>
                <string>1B782BE8-E83E-403A-91F8-CB531C88D33A</string>
                <key>PayloadVersion</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>AutoLaunchedApplicationDictionary-managed</key>
                <array>
                    <dict>
                    <key>Hide</key>
                    <true/>
                    <key>Path</key>
                    <string>/Applications/Jamf Trust.app</string>
                    </dict>
                </array>
                <key>PayloadDescription</key>
                <string></string>
                <key>PayloadDisplayName</key>
                <string>Login Items:  Managed Items</string>
                <key>PayloadEnabled</key>
                <true/>
                <key>PayloadIdentifier</key>
                <string>com.apple.loginitems.managed.A6B7808C-45A0-4F7E-BB0A-EA80A506CDA0</string>
                <key>PayloadOrganization</key>
                <string>JAMF Software</string>
                <key>PayloadType</key>
                <string>com.apple.loginitems.managed</string>
                <key>PayloadUUID</key>
                <string>A6B7808C-45A0-4F7E-BB0A-EA80A506CDA0</string>
                <key>PayloadVersion</key>
                <integer>1</integer>
            </dict>
        </array>
    </dict>
</plist>